*{
    padding: 0;
    margin: 0;
}

body{
background: linear-gradient(to left,rgb(84, 224, 84),rgb(157, 219, 157));
}

section{
    text-align: center;
    padding-top: 5%;
}

section h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 700;
font-size: 3rem;
color: white;
text-shadow: 1px 10px 20px rgb(0,0,0,0);
}
.box{
    width: 25%;
    background-color: rgb(114, 13, 13);
    margin:auto;
    padding: 2%;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2),
    -2px -2px 5px rgb(0,0,0,0.2);
    border-radius:10px;
}
.box input{
width: 96%;
text-align: right;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 3em;
padding: 2%;
border: 1px solid rgb(0,0,0,0.5);
border-radius: 10px;
margin-bottom: 10px;

}
.row{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.row button{
    width: 100px;
    text-align: center;
    font-size:3em;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    box-shadow: inset 5px 5px 10px rgb(0,0,0,0.3),
    10px 10px 10px rgb(0,0,0,0.05),
    10px 10px 10px rgb(0,0,0,0.1),
    inset 5px 5px 10px rgb(255,255,255,0.5);
   cursor: pointer;
}
@media only screen and (max-width:600px) {
 .box{
    width: 90%;
    margin: 0% 5%;
    padding: 5%;
 }   
}
